{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prédiction du prix de la maison</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main_app/style.css' %}">
    <script src='main.js'></script>
</head>

<body>
    <div class="register_page">
        <div class="form">
            <form action="{% url 'predict' %}" method="post">
                {% csrf_token %}

                Année de construction: <input type="number" name='Year_Built' placeholder="Quelle est l'année de construction?"><br>
                Surface de la cave: <input type="number" name='Total_Bsmt_SF' placeholder="Surface de la cave en m2"><br>
                Surface du premier étage: <input type="number" name='1st_Flr_SF' placeholder="Surface du 1er étage en m2"><br>
                Surface habitable au sol: <input type="number" name='Gr_Liv_Area' placeholder="Surface habitable en m2"><br>
                Surface du garage: <input type="number" name='Garage_Area' placeholder="Surface du garage en m2"><br>
                Qualité générale des finitions et des matérieux: <input type="number" name='Overall_Qual' placeholder="Qualité entre 1 (très mauvais) et 10 (Excellent)"><br>
                Nombre de salle de bain: <input type="number" name='Full_Bath' placeholder="Nombre de salles de bain"><br>
                Qualité des matériaux extérieurs: <input type="text" name='Exter_Qual' placeholder=" Ex:Excellent, Gd:Good, TA:Average, Fa:Fair, Po:Poor"><br>
                Qualité des matérieux de la cuisine: <input type="text" name='Kitchen_Qual' placeholder="Ex:Excellent, Gd:Good, TA:Average, Fa:Fair, Po:Poor"><br>
                Quartier: <input type="text" name='Neighborhood' placeholder="Nom du quartier de Ames"><br>
                <input type="submit" value="predict" class="submit">
            </form>
            <p> La maison vaut: {{data}}</p>
        </div>

    </div>


</body>

</html>